<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot</title>
</head>
<style>
body{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyoQ__cfZo-68wXrifyBCZqxbGpBUcg-M-Ug&usqp=CAU");
background-repeat: no-repeat;
background-size: cover;
}
</style>
<body>

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/4ef66833-2475-46fd-8404-66bfe0f878e1/webchat/config.js" defer></script>

</body>
</html>
