<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Sawarabi+Gothic&family=Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Login</title>
  </head>

  <body>
    <div id="main">
      <%- include('partials/nav') %>
      <div id="content">
        <div id="log">
          <center><h1>Login.</h1></center>
          <form>
            <label for="usname">Enter Your Username:</label>
            <br />
            <span><i class="ri-user-line"></i></span>
            <input type="text" id="email" />
            <br /><br />
            <label for="password">Enter Your Password:</label>
            <br />
            <span><i class="ri-lock-password-line"></i></span>
            <input type="password" id="password" />
            <br />
            <label for="frgpsw"><a class="forgot" href="./forgotpsw ">Forgot Password?</a></label>
            <br />
            <button type="button" class="continue" onclick="login()">Log In</button>
            <center><h4>---OR---</h4></center>
            <div id="icon">
              <button class="gogle"><i class="ri-google-fill"></i> <span>Continue With Google</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyAIccTqte_ZIdgepA0OleZj-XkpAWcHFRo",
        authDomain: "login-and-register-b6be2.firebaseapp.com",
        databaseURL: "https://login-and-register-b6be2-default-rtdb.firebaseio.com",
        projectId: "login-and-register-b6be2",
        storageBucket: "login-and-register-b6be2.appspot.com",
        messagingSenderId: "670642182975",
        appId: "1:670642182975:web:aa2d67e5d9b704ed0ed18a",
      };

      firebase.initializeApp(firebaseConfig);

      const auth = firebase.auth();
      const database = firebase.database();

      function register() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var tel = document.getElementById("tel").value;

        var cpsw = document.getElementById("cpsw").value;
        if (password !== cpsw) {
          alert("Passwords do not match");
          return;
        }

        if (validate_email(email) == false || validate_password(password) == false) {
          alert("Email or Password is Outta Line!!");
          return;
        }
        if (validate_field(fname) == false || validate_field(tel) == false || validate_field(lname) == false) {
          alert("One or More Extra Fields is Outta Line!!");
          return;
        }

        auth
          .createUserWithEmailAndPassword(email, password)
          .then(function () {
            var user = auth.currentUser;

            var database_ref = database.ref();

            var user_data = {
              email: email,
              first_name: fname,
              last_name: lname,
              phone_no: tel,
              gender: getSelectedGender(),

              last_login: Date.now(),
            };

            database_ref.child("users/" + user.uid).set(user_data);
            //var userRef = database_ref.child('users').child(fname).push();
            // userRef.set(user_data);

            alert("Register succesfull");
            window.location.assign("home");
          })
          .catch(function (error) {
            var error_code = error.code;
            var error_message = error.message;

            alert(error_message);
          });
      }

      function login() {
        email = document.getElementById("email").value;
        password = document.getElementById("password").value;

        if (validate_email(email) == false || validate_password(password) == false) {
          alert("Email or Password is Outta Line!!");
          return;
        }

        auth
          .signInWithEmailAndPassword(email, password)
          .then(function () {
            var user = auth.currentUser;

            var database_ref = database.ref();

            var user_data = {
              last_login: Date.now(),
            };

            database_ref.child("users/" + user.uid).update(user_data);

            window.location.assign("home");
            alert("User Logged In!!");
          })
          .catch(function (error) {
            var error_code = error.code;
            var error_message = error.message;

            alert(error_message);
          });
      }

      function validate_email(email) {
        expression = /^[^@]+@\w+(\.\w+)+\w$/;
        if (expression.test(email) == true) {
          return true;
        } else {
          return false;
        }
      }

      function validate_password(password) {
        if (password < 6) {
          return false;
        } else {
          return true;
        }
      }

      function validate_field(field) {
        if (field == null) {
          return false;
        }

        if (field.length <= 0) {
          return false;
        } else {
          return true;
        }
      }
      function getSelectedGender() {
        var radios = document.getElementsByName("Gender");
        for (var i = 0; i < radios.length; i++) {
          if (radios[i].checked) {
            return radios[i].nextElementSibling.textContent.trim();
          }
        }
        return "Not specified";
      }
      function forgotPass() {
        const email = document.getElementById("email").value;
        firebase
          .auth()
          .sendPasswordResetEmail(email)
          .then(() => {
            alert("Reset link sent to your email id");
          })
          .catch((error) => {
            document.getElementById("error").innerHTML = error.message;
          });
      }
      function out() {
        firebase
          .auth()
          .signOut()
          .then(() => {
            alert("logged out");
            window.location.assign("./index");
          })
          .catch((error) => {
            alert("sorry currently our server is in maintaince");
            window.location.assign("./home");
          });
      }
      function toggleProfile() {
        var profileContainer = document.getElementById("profileContainer");
        var hideButton = document.getElementById("hideButton");
        if (profileContainer.style.display === "block") {
          profileContainer.style.display = "none";
          hideButton.style.display = "none";
        } else {
          profileContainer.style.display = "block";
          hideButton.style.display = "block";
          fetchUserData();
        }
      }

      function fetchUserData() {
        var user = auth.currentUser;
        if (user) {
          var userId = user.uid;
          var userRef = database.ref("users/" + userId);

          userRef.once("value").then(function (snapshot) {
            var userData = snapshot.val();
            if (userData) {
              document.getElementById("userEmail").textContent = userData.email;
              document.getElementById("userName").textContent = userData.first_name + " " + userData.last_name;
              document.getElementById("userPhone").textContent = userData.phone_no;
            }
          });
        }
      }

      fetchUserData();
    </script>
  </body>
</html>
